# Pandas - Data Analysis Library

## Importing Pandas

In [5]:
import pandas as pd

In [6]:
pd.__version__

'1.2.4'

## Series

In [7]:
pd.Series(data = [1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

## DataFrame

In [8]:
Contoh = pd.DataFrame(data= {"Nama" : ["Ayu", "Indri", "Yani"],
                    "Umur": [21, 22, 23],
                    "Kelas": [1, 2, 3]})

Contoh.dtypes

Nama     object
Umur      int64
Kelas     int64
dtype: object

![](pandas/series-and-dataframe.width-1200.png)

# Membuat DataFrame dari dictionary

In [9]:
df = {'Nilai': [5, 4, 3, 2], 'Predikat': ['A', 'B', 'C', 'D']}

In [42]:
df0 = pd.DataFrame(df)
df0

    Nama  Umur  Kelas            zero
0    Ayu    21      1  column pertama
1  Indri    22      2  column pertama
2   Yani    23      3  column pertama

In [11]:
df2 = pd.DataFrame.from_dict(df, orient='index')
df2

          0  1  2  3
Nilai     5  4  3  2
Predikat  A  B  C  D

Mengganti Nama Kolom
--

In [23]:
Contoh.columns

Index(['Nama', 'Umur', 'Kelas'], dtype='object')

In [25]:
Contoh.columns = ["Nama", "Umur", "Kelas"]

# Output
Contoh

    Nama  Umur  Kelas
0    Ayu    21      1
1  Indri    22      2
2   Yani    23      3

In [ ]:
df3

In [28]:
Contoh.columns.values[2]

'Kelas'

In [33]:
df = Contoh

In [37]:
df.columns.values[0] = "Nama"

In [39]:
df.drop(columns = "zero")

    Nama  Umur  Kelas
0    Ayu    21      1
1  Indri    22      2
2   Yani    23      3

Latihan 1
---

Buatlah dataframe tentang 3 orang yang terspecify location, city, age, job dan maritel status 

tipedata: loc,city,job (object)
          age (float)
          marital status(boolean)

In [47]:
latihan_1 = pd.DataFrame(data={"Name" : ["Ayu","Indri","Yani"],
                               "Location" : ["Korea","German","Indonesia"],
                               "City": ["Seoul","Berlin","Jakarta"],
                               "Age" : [21,22,23],
                               "Job" : ["Student","Teacher","Lawyer"],
                               "Marital Status" : [False,True,False]})
latihan_1

    Name   Location     City  Age      Job  Marital Status
0    Ayu      Korea    Seoul   21  Student           False
1  Indri     German   Berlin   22  Teacher            True
2   Yani  Indonesia  Jakarta   23   Lawyer           False

In [48]:
latihan_1.dtypes

Name              object
Location          object
City              object
Age                int64
Job               object
Marital Status      bool
dtype: object

In [49]:
latihan_1[["Marital Status"]].replace({True:"Married", False:"Noy yet"})

  Marital Status
0        Noy yet
1        Married
2        Noy yet

# Open CSV file

Data dapat diperoleh dari Kaggle (https://www.kaggle.com/zusmani/uberdrives)
-jika file .txt and .csv open with pd.read_csv function
-jika file excel open with pd.read_xlsx

In [50]:
data = pd.read_csv("Uber Drives 2016.csv")
data

FileNotFoundError: [Errno 2] No such file or directory: 'Uber Drives 2016.csv'

### Basic Operation

In [65]:
data.head()

NameError: ignored

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
data.dtypes

### Convert data type

It can be seen that the START_DATE* and END_DATE* is object type data. While in fact, it is a date

In [66]:
data1 = pd.DataFrame({"Cost":["5","5","7"],"Amount":[11,12,13],"Date": ["11-10-2020","12-10-2020","13-10-2020"]})
data1

  Cost  Amount        Date
0    5      11  11-10-2020
1    5      12  12-10-2020
2    7      13  13-10-2020

In [67]:
data1.dtypes

Cost      object
Amount     int64
Date      object
dtype: object

In [69]:
data1["Date"] = pd.to_datetime(data1["Date"])
data1.dtypes

Cost              object
Amount             int64
Date      datetime64[ns]
dtype: object

In [71]:
data1["Cost"] = pd.to_numeric(data1["Cost"])
data1.dtypes

Cost               int64
Amount             int64
Date      datetime64[ns]
dtype: object

In [ ]:
data1

In [ ]:
data1.dtypes

#### Apply to our dataframe

In [ ]:
# convert data to datetime format
pd.to_datetime(data["START_DATE*"], format='%m/%d/%Y %H:%M')

In [ ]:
pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

Why the `START_DATA*` is still object? because it is not changed in the data frame

In [ ]:
data["START_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

In [ ]:
data["END_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

### Dataset summarization

In [ ]:
data.describe()

NameError: name 'data' is not defined

In [ ]:
data.describe(include='all')

In [ ]:
data.info()

In [ ]:
# count of unique start locations
data["START*"].value_counts()

### > Exercise 2

1. Create the following dataframe with “Umur” is object type and convert it into integer
![](pandas/ex1.png)

2. Go to Kaggle, download the Titanic data and do the data basic exploration.\
head, tail, describe, info, size, shape

## Data Manipulation Tasks

There are five common data manipulations tasks:
1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/conditionally adding columns
5. Groupby/summarize

## 1. Selecting/Indexing

### `loc` and `iloc`

![](pandas/loc.png)

In [ ]:
data.head()

### Positional indexing

In [ ]:
data.iloc[0:3, [1,3]]

In [ ]:
data.iloc[:, 3:6]

In [ ]:
data.iloc[1:3, 3:6]

### Label indexing

In [ ]:
data.loc[0:5, :"START*"]

In [ ]:
data.loc[:, ["START_DATE*" "MILES*"]].head()

In [ ]:
data[:1154, ["START_DATE*", "MILES*"]]

In [ ]:
a = data.loc[:, "START*"]

In [ ]:
type(a)

In [ ]:
b = data.loc[:, ["START*"]].head()
b

In [ ]:
type(b)

##### All function work in df, not in series

### > Exercise 3

1. Select columns: `START_DATE*, START*, STOP*`

2. Extract the first & last 10 rows of the previous columns

## 2. Filtering

In [ ]:
df1 = data.loc[data["MILES*"] > 10, ["MILES*"]]
df1

In [ ]:
df1 = data.loc[data["MILES*"] > 10, ["START*"]]
df1

In [ ]:
df2 = df1.loc[0:3]
df2

#### find all rides that is greater that 10 miles

In [ ]:
data.loc[data["MILES*"] > 10]

#### find all rides from NY

In [ ]:
data.loc[data["START*"] == "New York"]

In [ ]:
data.loc[data["START*"] == "New York", ["MILES*", "STOP*"]]

#### Find out all rides from Cary & Morrisville

In [ ]:
# match multiple condition
st = data[data["START*"].isin(["Cary","New York"])]
st.head(n = 10)

In [ ]:
st.iloc[0:5, :]

In [ ]:
st.loc[0:5, :]

In [ ]:
st.reset_index(inplace = True, drop = True)

In [ ]:
st

#### Find out all rides to Cary & Morrisville

In [ ]:
data[data["STOP*"].isin(["Cary","Morrisville"])].shape

### > Exercise 4

1. Find all trips that is greater than 10 miles and originated from New York and Morris

Hint: use `and`

In [ ]:
dfm = data.loc[(data['MILES*'] > 10) & (data['START*'].isin(['New York', 'Morrisville']))]
dfm.head()

In [ ]:
data[START*].value_counts()

## 3. Sorting

In [ ]:
data.sort_values(by=["MILES*"], ascending=False)

In [ ]:
data.sort_values(by=["START*"], ascending=True)

## 4. Conditionally adding column

In [ ]:
import numpy as np

In [ ]:
data["DISTANCE"] = np.where(data["MILES*"] > 5, "Long Trip", "Short Trip")

In [ ]:
data.head()

In [ ]:
data["DISTANCE"].value_counts()

In [ ]:
data["YEAR"] = np.array("2020")
data

In [ ]:
data["TIME_CAT"] = np.where(data["START_DATE*"] > "1/5/2016", "New Trip", "Old Trip")

In [ ]:
data

In [ ]:
data['START*'].value_counts().head()

### Exercise 5

1. Create a new column with the following condition:\
    a) >10    : Long Trip\
    b) 5-10   : Medium Trip\
    c) <5     : Short Trip

In [ ]:
import numpy as np

In [ ]:
data["MILES CAT"] = np.where(data["MILES*"] < 5, "Short", np.where(data['MILES*']<11, "Medium", "Long"))

In [ ]:
data